<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Upload a Text or Audio File for Analysis</h1>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <label for="file" class="custom-file-upload">Choose a file</label>
        <input type="submit" value="Upload" class="upload-button">
    </form>
    <div id="results" class="results-section">
    </div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            const formData = new FormData(this);
            fetch('/upload', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('results').innerHTML = data;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
